<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.pentaon.vzon.plugin" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>VzonPlugin</name><js-module name="VzonPlugin" src="www/VzonPlugin.js"><clobbers target="cordova.plugins.VzonPlugin" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="VzonPlugin"><param name="android-package" value="com.pentaon.vzon.plugin.VzonPlugin" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/VzonPlugin.java" target-dir="src/com/pentaon/vzon/plugin/VzonPlugin" /></platform></plugin>